<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fn.myfn.oauth.AuthMapper">

    <select id="getCurrentTime" resultType="String">
        SELECT SYSDATETIME()
    </select>

    <select id="getUserData" resultType="map"  parameterType="hashmap">
        SELECT USR_SEQ, USER_CI, ORG_CODE, TOKEN_TM, ACCESS_TOKEN, EXPIRES_IN, REFRESH_TOKEN, REFRESH_TOKEN_EXPIRES_IN
        FROM USER_OAUTH_TOKEN
        WHERE USR_SEQ = #{iUsrSeq}
    </select>
</mapper>