<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fn.myfn.comm.CommMapper">

    <update id="SaveLog"  parameterType="hashmap">
        { CALL DBO.USP_API_LOG (
            #{iLogType},#{iUsrSeq},#{sOrgCode},#{sTrdDt},
            #{sApiCode},#{sApiTranID},#{sApiUrl},#{sApiParam},
            #{sStartTime},#{sEndTime},#{bErrYn},#{sRmrk})
        }
    </update>

</mapper>